In [78]:
import pandas as pd
'''import seaborn as sns
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.grid_search import GridSearchCV
from sklearn.tree import DecisionTreeClassifier'''
from sklearn.preprocessing import LabelEncoder, LabelBinarizer, Imputer, OneHotEncoder


def get_sex(x):
    x = str(x)
    if x.find('Male') >= 0: return 'male'
    if x.find('Female') >= 0: return 'female'
    return 'unknown'

def get_neutered(x):
    x = str(x)
    if x.find('Spayed') >= 0: return 'neutered'
    if x.find('Neutered') >= 0: return 'neutered'
    if x.find('Intact') >= 0: return 'intact'
    return 'unknown'


def get_mix(x):
    x = str(x)
    if x.find('Mix') >=0 :
        return 'mix'
    return 'not'

def calc_age_in_years(x):
    x = str(x)
    if x == 'nan': return 0
    age = int(x.split()[0]) # split with space, get number
    if x.find('year')> -1: return age
    if x.find('month')> -1: return age/12
    if x.find('week') > -1 : return age/52
    if x.find('day') > -1 : return age/365
    else : return 0

def prepareData(train):
    train['Sex'] = train.SexuponOutcome.apply(get_sex)
    train['Neutered'] = train.SexuponOutcome.apply(get_neutered)
    train['Mix'] = train.Breed.apply(get_mix)
    train['AgeuponOutcome'] = train.AgeuponOutcome.apply(calc_age_in_years)
    return train


train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')


train = prepareData(train)
test = prepareData(test)

y = train.OutcomeType
train.drop(["Name", "OutcomeType", "OutcomeSubtype","SexuponOutcome","DateTime","AnimalID"], axis=1, inplace=True)
test.drop(["Name", "SexuponOutcome","DateTime","ID"], axis=1, inplace=True)


train.head()

,AnimalType,AgeuponOutcome,Breed,Color,Sex,Neutered,Mix
0,Dog,1.000000,Shetland Sheepdog Mix,Brown/White,male,neutered,mix
1,Cat,1.000000,Domestic Shorthair Mix,Cream Tabby,female,neutered,mix
2,Dog,2.000000,Pit Bull Mix,Blue/White,male,neutered,mix
3,Cat,0.057692,Domestic Shorthair Mix,Blue Cream,male,intact,mix
4,Dog,2.000000,Lhasa Apso/Miniature Poodle,Tan,male,neutered,not

In [79]:
test.head()

,AnimalType,AgeuponOutcome,Breed,Color,Sex,Neutered,Mix
0,Dog,0.833333,Labrador Retriever Mix,Red/White,female,intact,mix
1,Dog,2.000000,German Shepherd/Siberian Husky,Black/Tan,female,neutered,not
2,Cat,1.000000,Domestic Shorthair Mix,Brown Tabby,male,neutered,mix
3,Dog,0.333333,Collie Smooth Mix,Tricolor,male,intact,mix
4,Dog,2.000000,Miniature Poodle Mix,White,male,neutered,mix

In [80]:
train.shape

(26729, 7)

In [81]:
test.shape

(11456, 7)

In [82]:
# add train and test after each other. Do the fits, separate
combo = train.append(test)
combo.shape

(38185, 7)

In [83]:
# do the fits
for var in ['AnimalType', 'Sex', 'Neutered','Mix']:
    bin_fit = LabelBinarizer().fit(combo[var])
    train[var] = bin_fit.transform(train[var])
    test[var] = bin_fit.transform(test[var])

train.head()

,AnimalType,AgeuponOutcome,Breed,Color,Sex,Neutered,Mix
0,1,1.000000,Shetland Sheepdog Mix,Brown/White,0,0,0
1,0,1.000000,Domestic Shorthair Mix,Cream Tabby,1,0,0
2,1,2.000000,Pit Bull Mix,Blue/White,0,0,0
3,0,0.057692,Domestic Shorthair Mix,Blue Cream,0,1,0
4,1,2.000000,Lhasa Apso/Miniature Poodle,Tan,0,0,1

In [84]:
for var in ['Breed', 'Color']:
    label_fit = LabelEncoder().fit(combo[var])
    train[var] = label_fit.transform(train[var])
    test[var] = label_fit.transform(test[var])
    
    
train.head()

   AnimalType  AgeuponOutcome  Breed  Color  Sex  Neutered  Mix
0           1        1.000000   1482    146    0         0    0
1           0        1.000000    775    184    1         0    0
2           1        2.000000   1293     97    0         0    0
3           0        0.057692    775     47    0         1    0
4           1        2.000000   1101    311    0         0    1